## Python programming language
<p>Python is a high-level programming language which are very easy to use and reduces the space as compared to other programming language like C and C++.</p>

## Which IDE to use??
We can use Jupyter notebook, pycharm, visual studio code, sublime text etc.

### how to print in python??

In [1]:
print("My name is Ishwar Gautam")

My name is Ishwar Gautam

In [2]:
print(3+4)

7

In [3]:
3+4

7

In [4]:
5+7
3+9 #it is good practice to use print function

12

### Comment in python
Comment is not a code, so we can write any human language in comment.
We can use comment so that we can clarify what we are trying to do in program

In [5]:
x = 5  # value 5 is assigned to variable x (single line comment)

In [6]:
'''Hello everyone,
welcome to 30 minute course
by IG tech team'''

'Hello everyone,\nwelcome to 30 minute course\nby IG tech team'

### how to take input from the user

In [7]:
input("Enter your name: ")

Enter your name: Ishwar

'Ishwar'

Note: number can be both integer and string <br>
if you add two string: '5' + '6' = 56<br>
if you add two integer: 5  +  6  = 11

In [8]:
# program to sum any two numbers input by the user
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
print(num1+num2) # string concatenation

Enter first number: 5
Enter second number: 6
56

In [9]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(num1+num2)

Enter first number: 5
Enter second number: 6
11

In [13]:
## Taking two input at the same time
num1, num2 = input("Enter any two number: ").split() # it takes two input in string
print(int(num1)+int(num2))

Enter any two number: 6 8
14

In [14]:
num1, num2 = input("Enter any two number: ").split(',') # it takes two input in string
print(int(num1)+int(num2))

Enter any two number: 6,8
14

### String operation

In [15]:
name = 'Ishwar Gautam'

In [16]:
len(name)

13

In [17]:
name.index('h')

2

In [18]:
name.count('a')

3

In [19]:
name.upper()

'ISHWAR GAUTAM'

In [20]:
name.lower()

'ishwar gautam'

### Slicing in python

In [21]:
name = 'IG Tech Team'

In [22]:
name[3:7]  # from 3 to 7-1

'Tech'

In [23]:
name[3:]  # from 3 to all

'Tech Team'

In [24]:
name[:7] # from beginning to 7-1

'IG Tech'

In [26]:
name[3:7:2] # from 3 to 7-1 but step argument 2

'Tc'

In [28]:
# to reverse the string
'''in C or C++, it takes large block of code to reverse the string 
but in python, we can do it in just one line of code with the help of slicing'''
name[::-1]

'maeT hceT GI'

### String formatting

In [29]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("your name is {} and your age is {}".format(name,age))

Enter your name: Ishwar
Enter your age: 24
your name is Ishwar and your age is 24

In [30]:
print(f"your name is {name} and your age is {age}")

your name is Ishwar and your age is 24

In [31]:
print("your name is %s and your age is %s"%(name,age))

your name is Ishwar and your age is 24

### Decision making: if, if-else, if-elif-else

In [36]:
if name=='Ishwar':
    print("You are a member of IG Tech Team")

You are a member of IG Tech Team

In [37]:
if name=='Ishwar':
    print("You are a member of IG Tech Team")
else:
    print("You are not a member of IG Tech Team")

You are a member of IG Tech Team

In [42]:
name = ''
if name=='Ishwar':
    print("You are a member of IG Tech Team")
elif name== '':
    print('please provide your name')
else:
    print("You are not a member of IG Tech Team")

please provide your name

### Looping in python: for, while

In [44]:
for i in range(5): # i = 0,1,2,3,4
    print("IG Tech Team")

IG Tech Team
IG Tech Team
IG Tech Team
IG Tech Team
IG Tech Team

In [45]:
for i in range(1,5): # i = 1,2,3,4
    print("IG Tech Team")

IG Tech Team
IG Tech Team
IG Tech Team
IG Tech Team

In [47]:
i = 0
while(i<5):
    print("Welcome to 30 minute course")
    i+=1 # i = i+1

Welcome to 30 minute course
Welcome to 30 minute course
Welcome to 30 minute course
Welcome to 30 minute course
Welcome to 30 minute course

### List
elements inside square bracket

In [48]:
a = [3,4,6,3]

In [49]:
type(a)

list

In [51]:
b = ["Ishwar","Bijay","Manish"]

In [52]:
type(b)

list

In [67]:
c = [3, "Ishwar"]

In [68]:
type(c)

list

In [72]:
print(c[0])

3

In [69]:
# add two list
b + c

['Ishwar', 'Bijay', 'Manish', 3, 'Ishwar']

In [70]:
# append element in list --> always append in last
c.append("Amit")
print(c)

[3, 'Ishwar', 'Amit']

In [71]:
# insert element in list in any place
c.insert(1,'Tech')
print(c)

[3, 'Tech', 'Ishwar', 'Amit']

In [73]:
# delete element from list
c.pop()

'Amit'

In [74]:
print(c)

[3, 'Tech', 'Ishwar']

In [75]:
c.pop(0)

3

In [76]:
print(c)

['Tech', 'Ishwar']

### tuple
elements inside parenthesis

In [83]:
a = (4,6,7)

In [84]:
type(a)

tuple

In [85]:
b = ("Ishwar","Gautam")

In [86]:
type(b)

tuple

In [87]:
c = ("IG Tech Team",7)

In [88]:
type(c)

tuple

In [89]:
# add two tuple
b+c

('Ishwar', 'Gautam', 'IG Tech Team', 7)

In [91]:
# c.append(7)  # gives error
# we can't do append, insert, pop in tuple

### Dictionary: key-value pair
elements inside curly bracket

In [110]:
dic = {"name":"Ishwar", "age":24}

In [111]:
type(dic)

dict

In [112]:
d = dict(name="Ishwar", age=24)

In [113]:
type(d)

dict

In [115]:
print(d['name'])

Ishwar

In [116]:
# add element in dictionary
d['address'] = "Butwal"

In [117]:
print(d)

{'name': 'Ishwar', 'age': 24, 'address': 'Butwal'}

### Set
element inside curly bracket but doesn't have key-value pair

In [118]:
s = {4,5,7}

In [119]:
type(s)

set

In [120]:
s = {6,"Ishwar"}

In [121]:
type(s)

set

In [122]:
# list vs set
l = [3,5,"IG",3]
s = {3,5,"IG",3}

In [123]:
print(l)

[3, 5, 'IG', 3]

In [124]:
print(s) 
# set contains unique elements, so set is very useful when we have to remove redundant element

{'IG', 3, 5}

In [125]:
# remove redundant element from list
lst = [4,5,7,3,4,6,5,4,6,8,9,0,3,4,5,6,7,4,6,8,5,3,6,7]
lst = set(lst)
lst = list(lst)
print(lst)

[0, 3, 4, 5, 6, 7, 8, 9]

## Function in python
syntax: def function_name(parameter){ <br>
     &emsp;&emsp;&emsp;      //code <br>
     &emsp;&emsp;         }

In [128]:
def area_of_square(l):
    return l*l
print(area_of_square(5))

25