By Ishwar Gautam <br>
YouTube: <a href="https://www.youtube.com/channel/UC4Wf9XNPsbXwQqfKlUZfmtw">IG Tech Team</a>

## Python programming language
<p>Python is a high-level programming language which are very easy to use and reduces the space as compared to other programming language like C and C++.</p>

## Which IDE to use??
We can use Jupyter notebook, pycharm, visual studio code, sublime text etc.

### how to print in python??

In [1]:
print("My name is Ishwar Gautam")

My name is Ishwar Gautam

In [2]:
print(3+4)

7

In [3]:
3+7

10

In [5]:
print(3+7)
print(9+6) # it is a good practice to use print statement before

10
15

### Comment in python
Comment is not a code, so we can write any human language in comment.
We can use comment so that we can clarify what we are trying to do in program

In [ ]:
x = 5 # 5 is assigned to x variable (single line comment)

In [6]:
'''Hello everyone
Welcome to 30 minutes course
by IG Tech Team'''

'Hello everyone\nWelcome to 30 minutes course\nby IG Tech Team'

### how to take input from the user

In [7]:
input("Enter your name: ")

Enter your name: Ishwar

'Ishwar'

Note: number can be both integer and string <br>
if you add two string: '5' + '6' = 56<br>
if you add two integer: 5  +  6  = 11

In [8]:
# program to sum any two numbers input by the user
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
print(num1+num2) #string concatenation

Enter first number: 34
Enter second number: 6
346

In [9]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(num1+num2)

Enter first number: 34
Enter second number: 6
40

In [10]:
## Taking two input at the same time
num1, num2 = input("Enter any two numbers").split()
print(int(num1)+int(num2))

Enter any two numbers6 7
13

In [11]:
num1, num2 = input("Enter any two numbers").split(',')
print(int(num1)+int(num2))

Enter any two numbers6,7
13

### String operation

In [12]:
name = 'Ishwar Gautam'

In [13]:
len(name)

13

In [14]:
name.index('h')

2

In [15]:
name.count('a')

3

In [16]:
name.upper()

'ISHWAR GAUTAM'

In [17]:
name.lower()

'ishwar gautam'

### Slicing in python

In [18]:
name = 'IG Tech Team'

In [19]:
name[3:7] #from 3 to 7-1

'Tech'

In [20]:
name[3:]  #from 3 to all

'Tech Team'

In [21]:
name[:7] # from beginning to 7-1

'IG Tech'

In [22]:
name[3:7:2] # from 3 to 7-1 but step argument 2

'Tc'

In [23]:
# to reverse the string
'''in C or C++, it takes large block of code to reverse the string 
but in python, we can do it in just one line of code with the help of slicing'''
name[::-1]

'maeT hceT GI'

### String formatting

In [25]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print("your name is {} and your age is {}".format(name,age))

Enter your name: Ishwar
Enter your age: 24
your name is Ishwar and your age is 24

In [26]:
print(f"Your name is {name} and your age is {age}")

Your name is Ishwar and your age is 24

In [27]:
print("your name is %s and your age is %s"%(name,age))

your name is Ishwar and your age is 24

### Decision making: if, if-else, if-elif-else

In [29]:
if name=='Ishwar': 
    print("You are the member of IG Tech Team")

You are the member of IG Tech Team

In [31]:
if name=='FA': 
    print("You are the member of IG Tech Team")
else:
    print("You are not the member of IG Tech Team")

You are not the member of IG Tech Team

In [32]:
if name=='FA': 
    print("You are the member of IG Tech Team")
elif name == 'Ishwar':
    print("You are the owner of IG Tech Team")
else:
    print("You are not the member of IG Tech Team")

You are the owner of IG Tech Team

### Looping in python: for, while

In [33]:
for i in range(5): # i=0,1,2,3,4
    print("IG Tech Team")

IG Tech Team
IG Tech Team
IG Tech Team
IG Tech Team
IG Tech Team

In [34]:
for i in range(1,5): # i=1,2,3,4
    print("IG Tech Team")

IG Tech Team
IG Tech Team
IG Tech Team
IG Tech Team

In [35]:
i = 0
while(i<5):
    print("Welcome to 30 minute course")
    i+=1  #i=i+1

Welcome to 30 minute course
Welcome to 30 minute course
Welcome to 30 minute course
Welcome to 30 minute course
Welcome to 30 minute course

### List
elements inside square bracket

In [36]:
a = [3,6,8,5]

In [37]:
type(a)

list

In [38]:
b = ['Ishwar','IG tech team']

In [39]:
type(b)

list

In [40]:
c = [3, 8,"Ishwar"]

In [41]:
type(c)

list

In [43]:
print(c[2])

Ishwar

In [44]:
# add two list
b+c

['Ishwar', 'IG tech team', 3, 8, 'Ishwar']

In [45]:
# append element in list --> always append in last
c.append("Amit")
print(c)

[3, 8, 'Ishwar', 'Amit']

In [46]:
# insert element in list in any place
c.insert(1,"Tech")
print(c)

[3, 'Tech', 8, 'Ishwar', 'Amit']

In [47]:
# delete element from list
c.pop()

'Amit'

In [48]:
print(c)

[3, 'Tech', 8, 'Ishwar']

In [49]:
c.pop(0)

3

In [50]:
print(c)

['Tech', 8, 'Ishwar']

### tuple
elements inside parenthesis

In [51]:
a = (3,7,9)

In [52]:
type(a)

tuple

In [53]:
b = ("Ishwar","IG")

In [54]:
type(b)

tuple

In [55]:
c = ("Ishwar", 3)

In [56]:
type(c)

tuple

In [57]:
# add two tuple
b + c

('Ishwar', 'IG', 'Ishwar', 3)

In [58]:
c.append(7)  # gives error
# we can't do append, insert, pop in tuple

AttributeError: 'tuple' object has no attribute 'append'

### Dictionary: key-value pair
elements inside curly bracket

In [59]:
dic = {"name":"Ishwar", "age":24}

In [60]:
type(dic)

dict

In [61]:
d = dict(name = "Ishwar", age=24)

In [62]:
type(d)

dict

In [63]:
print(d['name'])

Ishwar

In [64]:
# add element in dictionary
d['address']='Butwal'

In [65]:
print(d)

{'name': 'Ishwar', 'age': 24, 'address': 'Butwal'}

### Set
element inside curly bracket but doesn't have key-value pair

In [66]:
s = {3,6,8}

In [67]:
type(s)

set

In [68]:
s = {6.3, "Ishwar"}

In [69]:
type(s)

set

In [70]:
# list vs set
l = [3,6,7,9,3,4,8,3,6,1,2,0,7]
s = {3,6,7,9,3,4,8,3,6,1,2,0,7}

In [71]:
print(l)

[3, 6, 7, 9, 3, 4, 8, 3, 6, 1, 2, 0, 7]

In [72]:
print(s)

# set contains unique elements, so set is very useful when we have to remove redundant element

{0, 1, 2, 3, 4, 6, 7, 8, 9}

In [73]:
# remove redundant element from list
l = [3,6,7,9,3,4,8,3,6,1,2,0,7]
l = set(l)
l = list(l)
print(l)

[0, 1, 2, 3, 4, 6, 7, 8, 9]

## Function in python
syntax: def function_name(parameter){ <br>
     &emsp;&emsp;&emsp;      //code <br>
     &emsp;&emsp;         }

In [74]:
def area_of_square(l):
    return l*l
print(area_of_square(5))

25